# Dirs
**/__pycache__/
**/__sapper__/

**/.DS_STORE/
**/.artifacts/
**/.docker/data/
**/.idea/
**/.svelte-kit/
**/.vscode/

**/build/
**/debug/
**/dist/
**/env/
**/node_modules/
**/target/
**/venv/

# Extensions
**/*.bk
**/*.bk.*

**/*.csv
**/*.csv.*

**/*.db
**/*.db.*

**/*.db-*.*

**/*.log
**/*.log.*

**/*.whl
**/*.whl.*

**/*.zip
**/*.zip.*
