# Artifacts
**/.artifacts/
**/.docker/data/
**/debug/
**/dist/
**/env/

# IDEs
**/.idea/
**/.vscode/

# Node
**/build/
**/node_modules/

# Python
**/__pycache__/
**/.pytest_cache/
**/venv/

# Rust
**/Cargo.lock
**/target/

**/*.bk
**/*.bk.*

# Svelte
**/__sapper__/
**/.DS_STORE/
**/.svelte-kit/

# Extensions
**/*.csv
**/*.csv.*

**/*.db
**/*.db.*

**/*.db-*.*

**/*.log
**/*.log.*

**/*.whl
**/*.whl.*

**/*.zip
**/*.zip.*
